* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 10px;
    background: rgb(49, 49, 49);
    transition:  .4s;
}
body::-webkit-scrollbar-thumb{
    /* background: linear-gradient( #f4433641, #F44336); */
    /* background: #F44336; */
    border-radius: 10px;
    background: #009688;
}
body::-webkit-scrollbar-thumb:hover {
    /* background: linear-gradient(#0096872c, #009688); */
    background: #F44336;
}